    label input[type="radio"],
    label input[type="checkbox"]{
        margin-right: 2px;
    }
    label {
        display: inline-block;
        margin-right: 1px;
    }
    /*css error massage*/
    .error-message { 
        color: red; 
        font-size: 14px; 
        margin-top: 2px; 
        margin-bottom: 10px; }
     /*css sucess massage*/
    .success-message { 
        color: green; 
        font-weight: bold; 
        margin-top: 15px; }